body,
html {
  width: 100%;
  height: 100%;
  font-family: "Orelega One", cursive;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buffer {
  height: 50px;
}

hr {
  border-color: orange;
  border-width: 3px;
  max-width: 65px;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

.btn-primary {
  background-color: orange;
  border-color: orange;
}

.btn {
  font-weight: 700;
  border-radius: 200px;
}

.btn-primary:hover {
  background-color: orange;
  border-width: 2px;
  border-color: orange;
}

.btn-primary:active {
  background-color: orange !important;
  border-width: 2px;
  border-color: orange !important;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary:focus {
  box-shadow: none;
}
